body{
    font-family: Verdana;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}
h1{
    font-variant: small-caps;
    background-color: red;
}
a:hover{
    border: Green;
    border-width: 5px;
}