a{
    background-image: url("images/iconmonstr-link-thin.svg");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}